@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <span style="font-size:11px;font-style:italic;color:darkblue;background-color:transparent;">2019 Jaime Morais</span>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
