@page "/"

@using System.Linq
@using DividendAlertBlazorPWA.Services
@using DividendAlertBlazorPWA.Model
@inject IDividendAlertService dividendAlertService



@if (dividendList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container-fluid">
        @if (dividendList.Any())
        {
            @foreach (Dividend d in dividendList)
            {
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">

                        <div class="card mt-1" style="background-color:#0f3673">
                            <div class="card-body">
                                <h5 class="card-title text-white font-weight-bold">@d.StockName <span class="float-right" style="font-size:12pt;">@d.PaymentDateFormatted</span></h5>
                                <span class="text-white font-italic">@d.Type</span>
                                <span class="text-white font-italic float-right">Valor: @d.Value</span>                                                                                              
                            </div>
                        </div>

                    </div>
                </div>
            }
        }
        else
        {
            <p>No dividends</p>
        }
    </div>

}

@code {
    IEnumerable<Dividend> dividendList;
    int lastDays = 30;

    protected override async Task OnInitializedAsync()
    {
        dividendList = await dividendAlertService.GetNextDividendsAsync(DateTime.Today);
    }
}
