@page "/"

@using System.Linq
@using DividendAlertBlazorPWA.Services
@using DividendAlertBlazorPWA.Model
@inject IDividendAlertService dividendAlertService



@if (dividendList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container-fluid">
        @if (dividendList.Any())
        {

            <ul class="list-group list-group-flush">
                @foreach (Dividend d in dividendList)
                {
                    <li class="list-group-item" style="color:#253d54;">                    
                        <div>                                
                            <h5 class="font-weight-bold">@d.StockName
                                <span class="float-right" style="font-size:12pt;">@d.PaymentDateFormatted</span>
                            </h5>
                            <span class="font-italic">@d.Type</span>
                            <span class="font-italic float-right">@d.Value</span>                                                                                                                              
                        </div>
                    </li>
                }
            </ul>
        }
        else
        {
            <p>No dividends</p>
        }
    </div>

}

@code {
    IEnumerable<Dividend> dividendList;
    int lastDays = 30;

    protected override async Task OnInitializedAsync()
    {
        dividendList = await dividendAlertService.GetNextDividendsAsync(DateTime.Today);
    }
}
