@page "/"

@using DividendAlertBlazorPWA.Data
@inject IDividendAlertService dividendAlertService


@if (html == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @((MarkupString)html)
}

@code {
    string html;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            html = await dividendAlertService.GetNewDividendsHtmlAsync();
        }
        catch (Exception ex)
        {
            // TODO remove
            html = $"<p> Error loading dividends : {ex.Message}</p>";
        }

    }
}
