@page "/"

@using System.Linq
@using DividendAlertBlazorPWA.Services
@using DividendAlertBlazorPWA.Model
@inject IDividendAlertService dividendAlertService


<h5>Your next Dividends : </h5>
<br />


@if (dividendList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container-fluid">
        @if (dividendList.Any())
        {
            @foreach (Dividend d in dividendList)
            {
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">


                        <div class="card mt-2">
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold">@d.StockName <span class="font-italic float-right" style="font-size:13pt;">(@d.Type)</span></h5>
                                <span class="text-muted font-italic">@d.PaymentDateFormatted</span>
                                <span class="text-muted font-italic float-right">@d.Value</span>                                                                                              
                            </div>
                        </div>



                    </div>
                </div>
            }
        }
        else
        {
            <p>No dividends</p>
        }
    </div>

}

@code {
    IEnumerable<Dividend> dividendList;
    int lastDays = 30;

    protected override async Task OnInitializedAsync()
    {
        dividendList = await dividendAlertService.GetNextDividendsAsync(DateTime.Today);
    }
}
