@page "/"

@using DividendAlertBlazorPWA.Data
@using DividendAlertBlazorPWA.Model
@inject IDividendAlertService dividendAlertService


@if (!dividendList.Any() && errorMsg == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (errorMsg != null)
    {
        // TODO change to layout
        <p>@errorMsg</p>
    }
    else
    {
        <table>
            @foreach (Dividend d in dividendList)
            {
                <tr>
                    <td>@d.StockName</td>
                    <td>@d.PaymentDate</td>
                </tr>
            }
        </table>
    }
}

@code {
    string errorMsg;
    IEnumerable<Dividend> dividendList;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            IEnumerable<Dividend> dividendList = await dividendAlertService.GetNewDividendsAsync();
        }
        catch (Exception ex)
        {
            string errorMsg = $"<p> Error loading dividends : {ex.Message}</p>";
        }

    }
}
